<div class="container">
  <div class="row">
    <h3> Disciplines </h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @assessments.each do |discipline| %>
            <tr>
              <%= render assessments %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
