<div>
  <%= form_for :assessment, url: assessments_path do |f| %>
    <h3> New assessment </h3>
    <div class="form-group">
      <%= f.label :'Assessment title' %>
      <%= f.text_field :assessmentTitle, :autofocus => true %>
    </div>
     <%= f.submit 'Submit' %>
  <% end %>
</div>
