<h1> Tous les utilisateurs </h1>

<table>
  <tr>
    <th> Nom </th>
    <th> Prénom </th>
    <th> Email </th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.lastName %></td>
      <td><%= user.firstName %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
    </tr>
  <% end %>
</table>
