<h1> Profil de l'utilisateur </h1>

<p>
  <strong> Email : </strong>
  <%= @user.email %>
</p>

<p>
  <strong> Nom : </strong>
  <%= @user.lastName %>
</p>

<p>
  <strong> Prénom : </strong>
  <%= @user.firstName %>
</p>
